.normal_view{
    display: flex;
    justify-content: space-between;
}
.title_div p{
    margin-top: 20px;
    color: gray;
}
.subTitle{
    display: flex;
    align-items: flex-end;
}

.gif_container{
    height: 7rem;
    width: 7rem;
    transition: all 0.4s ease;
    display: flex;
    cursor: pointer;
}
.gif_container:hover{
    height: 8rem;
    width: 8rem;
}
.gif_container img{
    height: inherit;
    width: inherit;
}
.contact_container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
}
.contact_card{
    display: flex;
    flex-direction: row;
    background-color:rgb(24, 24, 24);
    width: 55%;
    height: 70%;
    border-radius: 15px; 
    padding:10px;
    justify-content: space-between;
}
.image_card{
    width: 40%;
    height: 100%;
    background-color:rgb(44, 44, 44);
    border-radius: 8px;
    overflow: hidden;
}
#booth{
    position: relative;
    top: 0%;
    left: -50%;
    height: 120%;
}
.contact_section{
    width: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:4rem 0;
}
.contact_info{
    text-decoration: none;
}
.contact_section p{
    color: gray;
}
.cancel_button{
    height: 30px;
    width: 90px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 6px;
    margin-top: 20px;
}
.buttons_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copy_btn{
background-color: rgba(155, 155, 155, 0.4);
  border-radius: 8px;
  border-width: 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  list-style: none;
  margin: 0;
  padding: 8px 10px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.phoneNo_icons{
    display: flex;
    align-items: flex-end;
    text-align:end;
}
.resume_link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}