.projects_container{
    margin-top:20px
}
a{
    text-decoration: none;
}
.project_tile{
    padding: 0.8rem 1rem;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    width: 90%;
    cursor: pointer;
}
#thumbnail{
    width: 35%;
    border-radius: 6px;
}
.projects_info{
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0 10px;
    justify-content: space-between;
    margin-top:-10px;
}
.project_title{
    text-decoration: none;
    color: white;
}
.subtitle{
    font-size: 0.8rem;
    line-height: 1rem;
    color: gray;
}
.icon_container{
    display: flex;
    margin-top: 5px;
    gap:5px
}
.tech_icon{
    background-color: rgba(0, 132, 255, 0.884);
    border-radius: 1rem;
    padding: 0 0.6rem;
    width: fit-content;
    height: fit-content;
    font-size: 0.6rem;
    color: white;
}
@media (max-width:768px){
    .Projects{
        padding: 0 1rem;
    }
    .projects_container {
  margin-top: 0; /* Reset any default top margin */
  padding: 0 1rem;
}
.project_tile{
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.projects_info{
    padding: 0;
    width: 60vw;
}
#thumbnail{
    margin: auto 0;
}

.projects_container .project_title h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
}